---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
	<div class="container footer-inner">
		<a
			href="https://beian.miit.gov.cn/"
			target="_blank"
			rel="noopener noreferrer"
			class="footer-link"
		>
			鄂ICP备2024069158号-3
		</a>
		<p class="footer-copy">
			&copy; {currentYear} Gakusyun. All rights reserved.
		</p>
	</div>
</footer>
